@model AD_BussinessEF.Produto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.NomeFornecedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProduto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
